<!-- <nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">Carousel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
-->
                                            <!-- bg-dark -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-to">
  <a class="navbar-brand" href="/"><font color="#C176F1" size="6px"> ESPYTech</font></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li>&nbsp &nbsp &nbsp &nbsp &nbsp </li>
      <li class="nav-item">
        <a class="nav-link" href="/home"> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link" href="/device"> Build your Device </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/about"> About</a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" href="/articles" tabindex="-1" aria-disabled="true">Articles</a>
      </li>
      -->

    </ul>

    <!-- Search Button and text box  of the NAVEGATION
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->

  </div>
</nav>
