{% extends 'layout.html' %}

{% block body%}

<div class="jumbotron text-center">

  <font color=#C176F1 style="font-size:50px"><b> About us </b></font>
  <br>
  <br>

  <p class="text-justify lead" color=#FFFFFF style="font-size:20px" >
    EspyTech aims to facilitate the PC buying experience. How many times have
    you searched for a computer without knowing which one is the right for you?
    That’s why we came up with EspyTech. With us, all you have to do is input
    what your needs are and your budget, and EspyTech will give you a small list
     of what computers are best suited for your needs. With EspyTech, buying is
     easier.

    <!--
    ***********************************************************************************************

    This goes on the questions page with the Slider and text boxes

    

    ***********************************************************************************************
    -->
  </p>

</div>


{% endblock %}
