{% extends 'layout.html' %}

{% block body%}

<div class="jumbotron text-center">

  <font color=#C176F1 style="font-size:75px"><b>Welcome To ESPYTech</b></font>
  <br>
  <br>

  <p class="text-justify lead" color=#FFFFFF style="font-size:20px" >Espy tech was founded in 2019 by
    five students who
    are dedicated to making people feel more comfortable in the IT world.
    This website was founded based on principles of making technology
    work for people, not people work for technology. We are a group of individuals
    with like minded ideas that have come together to make this possible. This website helps you to create a computer depending on what are your needs and we will
    evaluate the financial side as well!
    Building the perfect computer that will work for you!

    <!--
    ***********************************************************************************************

    This goes on the questions page with the Slider and text boxes

    Building a PC can become a grueling task when it comes to researching the best possible
    components that will fit your budget and lifestyle, while also making sure those components
    are compatible. With ESPYTech it can all be done by answering just a few simple questions!!!

    ***********************************************************************************************
    -->
  </p>

</div>

<!--


***********************************************************************************************

This is the Button that has to be created to be able to call the questions page to share data
with Back END

<table align="center" width="100%" >
  <tr align="center">
    <td align="center">
      <a href="/questions"><font color=#C176F1 size="6"> Start building your computer now! </font></a>
    </td>
  </tr>
</table>


***********************************************************************************************

-->

<table align="center" width="75%">

  <tr align="center">
    <td align="center">

      <a href="/device"><button class="btn-hover color-3">Get Started Now</button><a>

    </td>
  </tr>

</table>




{% endblock %}
