{% extends 'layout.html' %}

{% block body%}

<div class="jumbotron text-center">


  <font color=#C176F1 style="font-size:75px"><b>Welcome</b></font><br>
  <a href="/home" style="text-decoration:none">
  <img src="http://ocelot.aul.fiu.edu/~rorfa001/images/ESPYTECHLogoG.png" alt="ESPYTECH LOGO">
  </a>
  <br>
  <br>

  <p class="text-justify lead" color=#FFFFFF style="font-size:20px" >
    ESPYTech was founded in 2019 by five students who are dedicated to making
    people feel more comfortable in the IT world. This website was founded based
    on principles of making technologywork for people, not people work for
    technology. We are a group of individuals
    with like minded ideas that have come together to make this possible. This website helps you to create a computer depending on what are your needs and we will
    evaluate the financial side as well!
    Building the perfect computer that will work for you!

  </p>

  <a href="/device"><button class="btn-hover color-3">Get Started Now</button><a>

</div>

{% endblock %}
